<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos todo lo que necesitas !</h2>
                <hr class="light">
                <p class="text-faded">Diseñamos tu viaje a medida con todas las opciones posibles. Rutas en 4x4, descenso en barco por el río, trecking, poblaciones locales, naturaleza y paisajes para recordar</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
