<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Descubre Madagascar a tu manera</h1>
            <hr>
            <p>Somos la primera agencia de viajes especializada en clientes españoles en Madagascar. Con un enfoque centrado en tus necesidades, diseñamos tu viaje a medida para que tu experiencia sea única e inolvidable. Nos ocupamos de todo.</p>
            <a href=" https://w.app/Madagastsaraviajes" class="btn btn-primary btn-xl page-scroll">Whatsapp +261 34 87 525 84</a>
        </div>
    </div>
</header>
